/* CSS definition file containing sitestyle stylesheets */
BODY { background-color: rgb(255,255,255)}
 A:active { color: rgb(0,0,153)}
 A:link { color: rgb(0,0,153)}
 A:visited { color: rgb(102,153,153)}
 .nof_WorkbenchBanners1-Banner1 {
font-family:Stencil; font-size:28; font-weight:700; font-style:normal; color:#330099 
}

.nof_WorkbenchNavbar2-Regular {
font-family:Trebuchet MS ; font-size:10; font-weight:700; font-style:normal; color:#000099 
}

.nof_WorkbenchNavbar4-Rollover {
font-family:Trebuchet MS ; font-size:10; font-weight:700; font-style:normal; color:#ff9933 
}

.nof_WorkbenchNavbar6-Highlighted {
font-family:Trebuchet MS ; font-size:10; font-weight:700; font-style:normal; color:#3399cc 
}

.nof_WorkbenchNavbar8-HighlightedRollover {
font-family:Trebuchet MS ; font-size:10; font-weight:700; font-style:normal; color:#996600 
}

.nof_WorkbenchNavbar3-Regular {
font-family:Trebuchet MS ; font-size:9; font-weight:700; font-style:normal; color:#ffffff 
}

.nof_WorkbenchNavbar5-Rollover {
font-family:Trebuchet MS ; font-size:9; font-weight:700; font-style:normal; color:#99cccc 
}

.nof_WorkbenchNavbar7-Highlighted {
font-family:Trebuchet MS ; font-size:9; font-weight:700; font-style:normal; color:#00ffff 
}

.nof_WorkbenchNavbar9-HighlightedRollover {
font-family:Trebuchet MS ; font-size:9; font-weight:700; font-style:normal; color:#99cccc 
}
A:hover { color: rgb(0,0,0)}
 
